<section class="about">
  <div class="about__inner">
    <h2 class="about__name">
      Maksim
      <br>
      Gorodov
    </h2>
    <p class="about__description">
      Hello! My name is Maksim, I'm a frontend developer with 4 years of experience. I have strong skills in such technologies as HTML, CSS, JavaScript and React. I also have some experience with React Native, Electron and Node.JS. Currently, I'm in my third year at college and I'm looking for a part-time job on such stack as React, Redux and TypeScript.
    </p>
    <ul class="about__social">
      <li class="about__social-item">
        <a class="about__social-link" href="mailto:silencer.web@gmail.com" target="_blank">Email</a>
      </li>
      <li class="about__social-item">
        <a class="about__social-link" href="https://github.com/SilencerWeb" target="_blank">Github</a>
      </li>
      <li class="about__social-item">
        <a class="about__social-link" href="https://t.me/silencerweb" target="_blank">Telegram</a>
      </li>
    </ul>
  </div>
</section>
