<section class="about">
  <div class="about__inner">
    <h2 class="about__name">
      Maksim
      <br>
      Gorodov
    </h2>
    <p class="about__description">
      Hi, I’m Maksim, a Russian frontend developer based in Uzbekistan, Tashkent.
      <br>
      I’m very interested in working... in... Well, I don’t know, we will get back to this later.
    </p>
    <ul class="about__social">
      <li class="about__social-item">
        <a class="about__social-link" href="mailto:silencer.web@gmail.com" target="_blank">Email</a>
      </li>
      <li class="about__social-item">
        <a class="about__social-link" href="https://github.com/SilencerWeb" target="_blank">Github</a>
      </li>
      <li class="about__social-item">
        <a class="about__social-link" href="https://t.me/silencerweb" target="_blank">Telegram</a>
      </li>
    </ul>
  </div>
</section>
