<section class="about">
  <div class="about__inner">
    <h2 class="about__name">
      Maksim
      <br>
      Gorodov
    </h2>
    <p class="about__description">
      Hello! I'm a frontend developer with 4 years of experience. I have strong skills in such technologies as <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>React</strong>, <strong>Redux</strong>, <strong>styled-components</strong>, <strong>Webpack</strong> and of course <strong>Git</strong>. I also have some experience with <strong>React Native</strong>, <strong>Electron</strong> and <strong>Node.JS</strong> and would love to work with these awesome technologies again!
      <br>
      <br>
      Feel free to hit me up whether it is a job discussion or just a question!
    </p>
    <ul class="about__social">
      <li class="about__social-item">
        <a class="about__social-link" href="mailto:silencer.web@gmail.com" target="_blank">Email</a>
      </li>
      <li class="about__social-item">
        <a class="about__social-link" href="https://github.com/SilencerWeb" target="_blank">Github</a>
      </li>
      <li class="about__social-item">
        <a class="about__social-link" href="https://t.me/silencerweb" target="_blank">Telegram</a>
      </li>
    </ul>
  </div>
</section>
