{{- $base := .Site.BaseURL -}}

<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">

    <meta name="format-detection" content="telephone=no"/>

    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

    <title>{{ .Title }}</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ $base }}images/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ $base }}images/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ $base }}images/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ $base }}images/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ $base }}images/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ $base }}images/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ $base }}images/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ $base }}images/favicon/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="{{ $base }}images/favicon/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="{{ $base }}images/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ $base }}images/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ $base }}images/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ $base }}images/favicon/favicon-128.png" sizes="128x128"/>

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
      <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}

    {{ if not .Site.IsServer }}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145835982-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145835982-1');
      </script>
    {{ end }}
  </head>

  <body>
    {{ partial "blocks/loader" }}
    {{ partial "blocks/header" }}

    {{ block "main" . }}  {{ end }}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
