$font-family-primary: "Maison Neue", sans-serif;
$font-family-secondary: "Alternate Gothic", sans-serif;

$color-primary: #000000;
$color-secondary: #ffffff;

$screen-xs-down: 575.98px;
$screen-sm-down: 767.98px;
$screen-md-down: 991.98px;
$screen-lg-down: 1199.98px;
